body {
  background-image: url(./images/2_4_CS_Computer_Scientist.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
}

@media screen and (max-width: 1920px) {
  body {
    background-size: cover;
    background-attachment: fixed;
  }
}
