html {
  font-size: 100;
  box-sizing: border-box;
}

/*hud*/

.hud {
  background-color: #1f2c2d;
  width: 400px;
  height: 150px;
  padding: 30px;
  border: 10px solid #ff00ff;
  margin: 10px;
}

/*border*/

body {
  background-image: url(./images/border.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  min-height: 100vh;
}

@media screen and (max-width: 1920px) {
  body {
    background-size: cover;
    background-attachment: fixed;
  }
}

.myButton1 {
  background: url(./images/Computer\ Science\ Icon.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 100px;
  height: 100px;
}

.myButton1:active  /* use Dot here */ {
  background: url(./images/Computer\ Science\ Icon.png) no-repeat;
}
