html {
  font-size: 100;
  box-sizing: border-box;
}

/*buttons*/
.main_buttons {
  display: flex;
  margin-top: 65px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-around;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.captions {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

#main_button_1 {
  position: relative;
  top: -12.9px;
}
/*hud*/

.hud {
  background-color: hsl(184, 18%, 15%, 0.5);
  width: 600px;
  height: 220px;
  padding: 10px;
  border: 10px solid hsl(300, 1%, 86%);
  margin-top: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.title {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: auto;
  display: block;
  font-size: 2.8em;
  /* margin-block-start: 0.67em; */
  /* margin-block-end: 0.67em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* margin-bottom: 5px; */
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.67em;
  margin-block-start: 0.2;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#audio_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*border*/

body {
  background-image: url(./images/border.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
}

@media screen and (max-width: 1920px) {
  body {
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (max-width: 1280px) {
  h3 {
    display: none;
  }
}

@media (max-width: 740px) {
  h1 {
    font-size: 2.1em;
  }
}

@media screen and (max-width: 840px) {
  .main_buttons {
    display: none;
  }
}
